@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
body{
 background-image: linear-gradient(to right, #8627b9, #5260dd, #0085ef, #00a2f1, #12bceb);
 font-size: 20px;
}


h1{
  text-decoration: none;
  color:rebeccapurple;
  padding: 0 10px;
  border-radius: 10px;
  
  border-style: solid;
  display: inline-flex;

}




/* redes */
.redes {
  
  
  font-size: ;
}
.redes a{
  font-size:25px;
  text-decoration: none;
  color: rebeccapurple;
  padding: 0 10px;
  border-radius: 10px;
  border-style: solid;
 position: relative;
 display: inline-flex;

}

.redes a:hover {
  
  color: black;
}



